.checkoutCard {
  display: grid;
  grid-template-columns: 15% 60% 20%;
  padding: 1.2rem 0%;
  margin: 15px;
  max-width: 700px;
  border-bottom: 2px solid #715925;
  height: auto;
}

.checkoutCard > img:first-of-type {
  width: 100px;
  height: 100px;
}

.checkoutCard section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* 
.checkoutCard div:nth-of-type(3) {
  margin: 0 2%;
} */

.checkoutCard img:first-of-type {
  cursor: pointer;
}

.checkoutCard > article {
  margin: 0 10% 0 5%;
  height: 100%;
}

.checkoutCardModal {
  display: grid;
  grid-template-columns: 20% 70% 10%;
  padding: 1.2rem 0%;
  margin: 15px;
  max-width: 700px;
  border-bottom: 2px solid #715925;
  height: auto;
}

.checkoutCard > article h1 {
  font-size: 20px;
  font-weight: 500;
}

.checkoutCard section article div:last-of-type {
  margin-top: 1rem;
}

/* .checkoutCard > div:nth-of-type(3) {
  margin-top: auto;
} */

.checkoutCard section > div {
  flex-shrink: 0;
  margin-left: 10%;
  margin-top: 3%;
}

.checkoutCard section article > div:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
}

.checkoutCard section article > div:nth-of-type(2) button {
  border: 1px solid white;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.checkoutCard section article > div:nth-of-type(2) button img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkoutCard section article > div:first-of-type input {
  padding: 10px 12px 10px 12px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

@media screen and (max-width: 1011px) {
  .checkoutCard {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
  }
}

@media screen and (max-width: 500px) {
  .checkoutCard {
    display: grid;
    grid-template-columns: auto 30% 35%;
  }

  .checkoutCard > article {
    grid-column: 1/4;
    grid-row: 2/3;
    margin: 0;
  }
  .checkoutCard section {
    grid-column: 3/4;
    width: 100%;
    padding-left: 4vw;
  }
  .checkoutCard > section article > div:last-of-type {
    width: 100%;
  }

  .checkoutCard > img {
    grid-column: 1/2;
  }
}
